<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{{site.url}}/atom.xml" rel="alternate" title="RSS" type="application/rss+xml" />
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
    <title>{% if page.title %}{{page.title}} {% else %}Page {{ paginator.page }}{% endif %} - {{ site.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <meta name="description" content="{{ page.meta-description }}" />
    {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}<link rel="canonical" href="{{ canonical }}">
  </head>
  <body>
    <header>
      <hgroup>
        <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
        {% if site.subtitle %}
          <h2>{{ site.subtitle }}</h2>
        {% endif %}
      </hgroup>
    </header>
    <div id="main">
      <div id="content">
        {{ content }}
      </div>
    </div>
    {% include google_analytics.html %}
  </body>
</html>
